@media only screen and (max-width: 640px) {
    .toprow-section {
        height: 50px;
        line-height: 0px;
        padding: 15px 0px;
    }
    .toprow-section .toprow2nd ul {
        height: 70px;
        line-height: 70px;
        justify-content: center;
        display: flex;
    }
    .toprow-section .toprow1st li {
        font-size: 7px;
    }
    .toprow-section {
        display: grid;
    }
    .toprow-section .toprow-parents {
        display: inline-block;
    }
    .toprow-section {
    }
    .banner_head .banner-logo img{
        height: 65px;
        width: auto;
    }
    .banner_head .banner-head-button {
        display: none;
    }
    .banner-middle h1 {
        font-size: 25px;
        position: relative;
        top: -142px;
    }
    .banner-middle p {
        font-size: 9px;
        position: absolute;
        top: 160px;
    }
    .banner-head-button a {
        font-size: 12px;
        color: white;
    }
    .banner-section {
        height: 262px;
    }
    .banner-head-button .btn1 {
        position: relative;
        top: -115px;
        height: 5px;
        line-height: 0px;
        width: 120px;
    }
    .banner-head-button .btn2 {
        position: relative;
        top: -60px;
        left: -144px;
        height: 5px;
        line-height: 0px;
        width: 120px;
    }
    .service-section .container h4 {
        font-size: 30px;
    }
    .boxes-row .st {
        height: 50px;
        line-height: 50px;
        font-size: 15px;
    }
    .boxes-row .nd {
        height: 50px;
        line-height: 50px;
        font-size: 15px;
    }
    .boxes-row .rd {
        height: 50px;
        line-height: 50px;
        font-size: 15px;
    }
    .service-section .service-content {
        position: relative;
        top: -80px;
    }
    .container .service-box {
        row-gap: 20px;
        display: grid;
    }
    .service-box .f {
        height: 185px;
    }
    .service-section .container p {
        font-size: 9px;
    }
  }